<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thay đổi mật khẩu</title>
</head>
<body>
  <div>
    <h2>Xin chào {{fullname}}</h2>
    <p>Để đặt lại mật khẩu cho <a href={{process.env.REACT_URL}}>Smart Rent</a></p>
    <p>Hãy nhấn vào đường link dưới đây.</p>
    <a href="{{url}}">Nhấp tại đây</a>
  </div>
</body>
</html>