.home-container {
  font-family: Inter;
  .text-banner-title {
    font-size: 60px;
    line-height: 62px;
  }

  .text-banner-description {
    font-size: 18px;
    color: var(--color-bold);
    line-height: 28px;
    font-style: normal;
  }

  .button-banner {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    height: 66px;
  }
}
