.list-post {
  height: calc(100vh - var(--height-navbar) - 24px);
  overflow: hidden;

  .search-container {
    background-color: white !important;
    border: 1px solid var(--shadow-2);
    padding: 8px 8px;
    overflow: auto;
  }

  .content-list-post {
    .list-post-body {
      flex: 1 1 auto;
      padding: 0 20px;
      overflow-y: scroll;
    }
  }

  .ant-pagination-item-active {
    border-color: var(--color-text);
  }

  .ant-pagination-item-active a {
    color: var(--color-text);
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}
