PORT=8000
URL_REACT=http://localhost:3000
PORT_DB=3306
DB_NAME=smartrent
DB_USER=smartrent
DB_PASSWORD=password db
HOST=localhost
CONTRACT_ADDRESS=address khi deploy tai local
PRIVATE_KEY=private key account khi run hardhat
API_URL=http://localhost:8545
ADDRESS_BNB=address khi deploy tai bnb
PRIVATE_KEY_METAMASK=private key metamask
NODE_ENV=development
API_URL_TESTNET=https://data-seed-prebsc-1-s1.bnbchain.org:8545
ETHERSCAN_API_KEY=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
HOST_BE=
JWT_SECRET=
PORT_REDIS=
HOST_REDIS=
PINATA_API_KEY=
PINATA_API_SECRET=
HOST_DJANGO=localhost
PORT_DJANGO=7000