.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 200;
}

.background-image:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
