// styles.scss

.data-house_home {
    font-family: Inter;
    margin: 24px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 24px;
  
    .image-data_house_home {
      width: 100%;
      height: auto;
    }
  
    .house-info_card {
      .text_title {
        font-size: 26px;
        color: black;
      }
  
      .text-shadow {
        margin: 12px;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  
    .button-column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  
      .custom-button {
        width: 100%;
        margin: 8px 0;
        font-size: 18px;
        border: 1px solid;
  
        &.cancel {
          border-color: darkred;
          color: red;
        }
  
        &.watch-contract {
          background-color: whitesmoke;
          border-color: darkblue;
          color: blue;
        }
      }
    }
  }
  